%form.form-search.well{action: search_path, method: :get}
  %fieldset.control-group{class: ("error" if @missing_query)}
    .controls
      = text_field_tag :query, params[:query], class: "search-query"
      = button_tag "Search", class: "btn"
      - if @missing_query
        %span.help-inline Please fill out a search query
