= simple_form_for @search, url: search_path, method: :get, html: {class: "form-inline well"} do |f|
  = f.input :query, class: "search-query"
  .form-actions
    = f.button :submit, class: "help-inline"
